* {
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

html {
    overflow: hidden;
}

canvas {
    background-image: url(https://www.wallpaperuse.com/wallp/1-10579_m.jpg);
    height: 100%;
    width: 100%;
}

